.cart{
    height: auto;
    width: 180px;
    margin-left: 15px;
    margin-right: 15px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.inner-cart{
    width: 180px;
    height: auto;
    max-height: 450px;
    text-align: center;
}

.product-nm{
    /* margin-top: 20px; */
    max-width: 160px;
    min-width: 140px;
    height: auto;
    max-height: 450px;
    text-align: center;
    overflow: hidden;
}

.product-name{
    margin-top: 4px;
    margin-bottom: 0px;
    margin-left: 6px;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.pp_setting{
    display: table-column;
    justify-content: space-between;
    margin-right: 30%;
}
.container{
    display: flex;
    justify-content: table-row;
    /* align-items: center; */

}
